html,
body {
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0;
    background-image:url('src/fondo.jpg') ;
   
}
nav.navbar {
    background-color: rgb(80, 185, 255);
    position: fixed;
}
nav.navbar ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav.navbar ul li{
    padding: 1em;
}
nav.navbar ul li a {
    color: #000;
    opacity: .7;
    text-decoration: none;
    font-weight: bold;
}
nav.navbar ul li a:hover {
    opacity: 1;
}
.container {
   text-align: center;
    padding: 1em;
    margin-top: 30vh;
}
.container .title {
    
    font-size: 4em;
    color: #FFF;
    text-align: center;
    transition: 0.5s;
    
}
.container .card{

    margin-top: 10vh;
    width: 30vh;
    height: 35vh;
    background-color: #5dd1ff;
    border-radius: 3px;
    border: 0.01em solid rgb(144, 144, 144);
}
.container .title:hover {
    font-size: 5em;
}
.container .subtitle {
    font-size: 1.2em;
    color: #FFF;
    text-align: center;
}